<div class="main-container">
  <div class="back-btn" title="返回" [routerLink]="'../home'">
    <svg class="icon" width="24" height="24">
      <use xlink:href='#back' href='#back'></use>
    </svg>
  </div>
  <div class="page-title">
    <h1>我们的故事</h1>
  </div>
  <div class="stories-container">
    <div class="story-line"></div>
    <div class="avatar-container" [routerLink]="'/stories/photos'">
      <div class="avatar avatar1"></div>
      <div class="title">
        <h2>图 片</h2>
      </div>
    </div>
    <div class="avatar-container" [routerLink]="'/stories/videos'">
      <div class="avatar avatar2"></div>
      <div class="title">
        <h2>视 频</h2>
      </div>
    </div>
  </div>
</div>
