<div class="main-container">
  <div class="back-btn" title="返回" [routerLink]="'../../stories'">
    <svg class="icon" width="24" height="24">
      <use xlink:href='#back' href='#back'></use>
    </svg>
  </div>
  <div class="photos-container">
    <div class="photo-details">
      <img [src]="currentImgSrc" alt="The story photo">
    </div>
    <hr>
    <div class="photo-list">
      <ng-container *ngFor="let image of images">
        <div class="photo-list-item" [style.background-image]="'url(' + image.src + ')'" (click)="selectPhoto(image)"></div>
      </ng-container>
    </div>
  </div>
</div>
