.main-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../../images/home-without-line.jpg) center center;
  background-size: cover;
  overflow: auto;
}

.avatar-container {
  position: fixed;
  border: 2px solid white;
  top: -30vh;
  left: 15%;
  right: -30vw;
  bottom: 20%;
  border-radius: 50%;

  .avatar1 {
    cursor: pointer;
    position: fixed;
    border: 2px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 20vh;
    left: 8%;
    background: url("../../images/home-avatar1.jpg") no-repeat center center;
    background-size: cover;
  }

  .avatar2 {
    cursor: pointer;
    position: fixed;
    border: 2px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 50vh;
    left: 20%;
    background: url("../../images/home-avatar2.jpg") no-repeat center center;
    background-size: cover;
  }

  .avatar3 {
    cursor: pointer;
    position: fixed;
    border: 2px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 65vh;
    left: 45%;
    background: url("../../images/home-avatar3.jpg") no-repeat center center;
    background-size: cover;
  }

  .avatar1, .avatar2, .avatar3 {
    &:hover {
      transition: ease 1s;
      box-shadow: 0 0 28px #f2f0f4;
      transform: scale(1.2);
    }
  }
}

.content-container {
  padding: 10%;
  position: relative;
  left: 20vw;
  margin-right: 20vw;
  color: white;
  z-index: -1;

  .title {
    text-align: center;
  }

  .content {
    text-align: left;

    .title {
      font-size: 3.5em;
    }

    p {
      font-size: 2em;
      line-height: 1.3em;
    }
  }

  @media (max-width: 1080px) {
    padding: 15%;

  }
}
