.main-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../../../assets/images/home-without-line.jpg) center center;
  background-size: cover;
  overflow: auto;
}

.avatar-container {
  position: fixed;
  border: 2px solid white;
  top: -30vh;
  left: 15%;
  right: -30vw;
  bottom: 20%;
  border-radius: 50%;

  .avatar1 {
    cursor: pointer;
    position: fixed;
    border: 2px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 20vh;
    left: 8%;
    background: url("../../../assets/images/home-avatar1.jpg") no-repeat center center;
    background-size: cover;
  }

  .avatar2 {
    cursor: pointer;
    position: fixed;
    border: 2px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 50vh;
    left: 20%;
    background: url("../../../assets/images/home-avatar2.jpg") no-repeat center center;
    background-size: cover;
  }

  .avatar3 {
    cursor: pointer;
    position: fixed;
    border: 2px solid white;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    top: 65vh;
    left: 45%;
    background: url("../../../assets/images/home-avatar3.jpg") no-repeat center center;
    background-size: cover;
  }

  .avatar1, .avatar2, .avatar3 {
    &:hover {
      transition: ease 1s;
      box-shadow: 0 0 28px #f2f0f4;
    }
  }
}

.content-container {
  padding: 20px;
  position: relative;
  left: 20vw;
  margin-right: 20vw;
  color: white;

  .title {
    text-align: center;
  }

  .content {
    text-align: left;
  }
}

.hidden {
  display: none;
}
