<div class="main-container">
  <div class="back-btn" title="返回" [routerLink]="'../../achievements'">
    <svg class="icon" width="24" height="24">
      <use xlink:href='#back' href='#back'></use>
    </svg>
  </div>
  <div class="videos-container">
    <div class="video-details">
      <iframe [src]="currentVideoSrc | safe: 'resourceUrl'" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    </div>
    <div class="vertical-divider"></div>
    <div class="video-list">
      <ng-container *ngFor="let video of videos">
        <div class="video-list-item" (click)="selectVideo(video)">{{video.name}}</div>
      </ng-container>
    </div>
  </div>
</div>
