.main-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: url(../../../images/story-video-bg.jpg) center center;
  background-size: cover;
}

video {
  height: 100%;
  width: 100%;
}

iframe {
  height: 100%;
  width: 100%;
}
