<div class="main-container">
  <div class="back-btn" title="返回" [routerLink]="'../home'">
    <svg class="icon" width="24" height="24">
      <use xlink:href='#back' href='#back'></use>
    </svg>
  </div>
  <div class="introduction-container">
    <div class="left-container">
      <div class="container-bg"></div>
      <div class="avatar-container">
        <div class="avatar avatar1"></div>
      </div>
      <div class="title">
        <h2>佴九歌</h2>
      </div>
      <div class="description">
        <div class="description-details">
          <p>我是大佬一般的存在，旁边这个你不许惹。</p>
        </div>
        <table>
          <tr>
            <th>身高</th>
            <td>158cm</td>
          </tr>
          <tr>
            <th>体重</th>
            <td>39kg</td>
          </tr>
          <tr>
            <th>星座</th>
            <td>狮子座</td>
          </tr>
          <tr>
            <th>喜欢的东西</th>
            <td>小裤裤</td>
          </tr>
          <tr>
            <th>讨厌的东西</th>
            <td>胖子</td>
          </tr>
          <tr>
            <th>主要职责</th>
            <td>打歌，找场子，帮某人打排位</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="right-container">
      <div class="container-bg"></div>
      <div class="avatar-container">
        <div class="avatar avatar2"></div>
      </div>
      <div class="title">
        <h2>佴九良</h2>
      </div>
      <div class="description">
        <div class="description-details">
          <p>我是逗比一般的存在，旁边这个我惹不起。</p>
        </div>
        <table>
          <tr>
            <th>身高</th>
            <td>172cm</td>
          </tr>
          <tr>
            <th>体重</th>
            <td>49kg</td>
          </tr>
          <tr>
            <th>星座</th>
            <td>双子座</td>
          </tr>
          <tr>
            <th>喜欢的东西</th>
            <td>吃</td>
          </tr>
          <tr>
            <th>讨厌的东西</th>
            <td>不上进</td>
          </tr>
          <tr>
            <th>主要职责</th>
            <td>社交，陪玩，打辅助</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
